body{
	font-family: "Mulish", sans-serif;
	font-size: 12px;
	background: #f9f9f9;
}
a {
	color: #E0AB26;
	text-decoration: none;
	line-height: 1.15;
}
p{
	margin: 0;
	line-height: 1.15;
}
hr {
    width: 90%;
    margin: 25px auto;
    border: 1px #cecece solid;
}
h1 {
    font-size: 3em;
    color: #675A85;
    font-family: 'Copse', serif;
}
h2{
	font-size: 2em;
	color: #63B879;
    font-family: 'Copse', serif;
}
h3{
	font-size: 1.5em;
	color: #36ACD0;
    font-family: 'Copse', serif;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}
#logo, #nav{
	display: block;
	margin: 0 auto;
	text-align: center;
    padding: 0;
}
#nav li {
    list-style: none;
}
#nav li a {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    background: #fff;
    padding: 10px;
    margin: 5px auto;
}
#banner {
    text-align: center;
}
#bannerRight{
	padding: 25px 0;
}
#bannerRight p{
	font-size: 1.5em;
}
#bannerLeft img {
    width: 100%;
    max-width: 300px;
}
#portfolio {
    text-align: center;
}
.card{
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	background: #fff;
	padding: 25px;
}
.card + .card{
	margin-top:25px;
}
.card img {
	width: 100%;
    max-width: 300px;
}
#contact {
    padding: 25px 0;
}
#footMain {
    text-align: center;
}
#footAlt p{
	float: left;
	width: 50%;
	text-align: left;
	font-weight: bold;
}
#footAlt a{
	float: right;
	width: 50%;
	text-align: right;
	font-weight: bold;
}