/*basics*/
body{
	font-family: "Mulish", sans-serif;
	font-size: 12px;
	background: #f9f9f9;
}
a {
	color: #E0AB26;
	text-decoration: none;
	line-height: 1.15;
}
p{
	margin: 0;
	line-height: 1.15;
}
hr {
	width: 90%;
	margin: 25px auto;
	border: 1px #cecece solid;
}
h1 {
	font-size: 3em;
	color: #675A85;
	font-family: 'Copse', serif;
}
h2{
	font-size: 2em;
	color: #63B879;
	font-family: 'Copse', serif;
}
h3{
	font-size: 1.5em;
	color: #36ACD0;
	font-family: 'Copse', serif;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}

/*header*/
#home {
    margin: 25px 0;
}
#logo, #nav{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
#logo h1{
	margin: 0;
}
#nav li {
	list-style: none;
}
#nav li a {
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	background: #fff;
	padding: 10px 25px;
	margin: 5px;
	transition: background-color 1s ease;
}
#nav li a:hover{
	background: #000;
	color: #fff;
}

/*banner*/
#banner {
	text-align: center;
}
#bannerRight{
	padding: 25px 0;
}
#bannerRight p{
	font-size: 1.5em;
}
#bannerLeft img {
	width: 100%;
	max-width: 400px;
}

/*body*/
#portfolio {
	text-align: center;
}
.card {
	width: 70%;
	max-width: 700px;
	margin: 5px auto;
	background: #fff;
	padding: 3%;
}
.card img {
	width: 100%;
	max-width: 300px;
}
#skills{
	text-align: center;
}
#skills ul{
	margin: 0;
	padding: 0;
}
#skills li{
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	background: #fff;
	padding: 10px 25px;
	margin: 5px;
}

/*footer*/
#contact {
	padding: 25px 0;
}
#footMain {
	text-align: center;
}
#footAlt p{
	float: left;
	width: 50%;
	text-align: left;
	font-weight: bold;
}
#top {
	float: right;
	width: 50%;
	text-align: right;
	font-weight: bold;
	display: inline-block;
}
#footNav{
	display: none;
}

/*resizing*/

@media (min-width: 769px) {
	.clearFix:after {
		content: "";
		display: table;
		clear: both;
	}
	#nav li{
		display: inline-block;
	}
	#nav li a {
		display: inline-block;
	}
	#bannerLeft, #bannerRight{
		float: left;
		width: 50%;
	}
	.card {
		float: left;
		width: 42%;
		margin: 5px 1%;
	}
	#skills li{
		display: inline-block;
	}
	#top{
		display: none;
	}
	#footNav {
		display: inline-block;
		padding: 0;
		margin: 0;
		float: right;
	}
	#footNav li {
		list-style: none;
		display: inline-block;
		padding: 0 15px;
	}
}

@media (min-width: 1024px) {
	#logo{
		float: left;
		width: 33%
	}
	#nav{
		float: right;
		width: 67%;
		text-align: right;
	}
	.card{
		width: 25%;
	}
}




